body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    margin: 0;
}




.nav-link {
    color: var(--heading-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-link {
    color: var(--heading-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
    color: var(--bright-color);
}

nav {
    margin-right: 344px;
}

.logo {
    color: var(--bright-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.logo-dark {
    color: var(--logo-color-dark);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.logo-light {
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.contact-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
}

.phone-link:hover .contact-link,
.phone-link:focus .contact-link {
    color: var(--bright-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.nav-main {
    display: flex;
    justify-content: flex-start;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-item {
    display: flex;
    align-items: center;
}

.phone-link {
    min-width: 142px;
}

.icon-header {
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
}

.contact-link:hover .icon-header,
.contact-link:focus .icon-header {
    fill: var(--bright-color);
}

.hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}

.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px;
}

.hero-button {
    color: var(--main-color);
    background-color: var(--bright-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
}

.advantages-icon {
    width: 70px;
    height: 70px;
}

.icon-container {
    width: 270px;
    background: var(--bg-color);
    padding: 25px 100px;
    margin-bottom: 30px;
}

.advantages-heading {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--heading-color);
    margin-bottom: 10px;
    align-self: flex-start;
}

.advantages-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    align-self: flex-start;
}

.gallery {
    margin: 0 auto;
    padding-bottom: 94px;
}

.gallery-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-gallery:not(:last-child) {
    margin-right: 30px;
}

.img-heading {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 27px auto;
    text-align: center;
}

.img-container {
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 224px;
}

.team-section {
    background-color: var(--bg-color);
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.team-member {
    background-color: var(--main-color);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-job {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
    color: var(--main-color);
}

.social-media-icon:not(:last-child) {
    margin-right: 10px;
}

.sm-link {
    width: 44px;
    height: 44px;
    background-color: var(--main-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-link:hover,
.sm-link:focus {
    background-color: var(--bright-color);
}

.sm-icon {
    width: 22px;
    height: 22px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:hover .sm-icon,
.sm-link:focus .sm-icon {
    fill: var(--main-color);
}

.clients-section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
}

.clients {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4%;
}

.clients:not(:last-child) {
    margin-right: 30px;
}

.client {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client,
.client-link:focus .client {
    fill: var(--bright-color);
}

.clients:hover {
    border-color: var(--bright-color);
}

footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-style: normal;
    margin-top: 20px;
}

.contacts {
    color: var(--footer-contacts-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--bright-color);
}

.map {
    color: var(--main-color);
    padding-bottom: 9px;
}

.footer-link:not(:last-child) {
    margin-bottom: 9px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-section {
    margin-left: 70px;
}

.sm-footer {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.social-links-footer {
    display: flex;
    width: 206px;
}

.sm-link-footer {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-link-footer:hover,
.sm-link-footer:focus {
    background-color: var(--bright-color);
}

.sm-icon-footer {
    fill: var(--main-color);
    width: 22px;
    height: 22px;
}

.join-telegram {
    width: 570px;
    margin-left: 93px;
}

.newsletter-heading {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.newsletter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-input {
    width: 358px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: var(--footer-color);
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}

.newsletter-btn {
    width: 200px;
    padding: 10px 28px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    background-color: var(--bright-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.telegram-icon {
    fill: var(--main-color);
}

.portfolio {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

header {
    border-bottom: 1px solid var(--header-border);
}

.gallery-nav {
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
}

.filter-button {
    color: var(--heading-color);
    background-color: var(--bg-color);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.63;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--main-color);
    background-color: var(--bright-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.gallery-images {
    margin-left: 0;
    box-sizing: border-box;
}

.img-link {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 370px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--main-color);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-link:hover .overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading-modal {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 12px;
}

.modal-label {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 4px;
}

.input-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.input-list:not(:last-child) {
    margin-bottom: 10px;
}

.input-data {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
}

.input-data::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.input-data:required:focus:not(:placeholder-shown),
.comment:focus {
    outline-color: var(--bright-color);
}

.input-wrapper {
    position: relative;
}

.icon-img {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #000000;
}

.input-data:focus+.icon-img {
    fill: var(--bright-color);
}

.input-list:last-child .input-data {
    height: 120px;
    margin-bottom: 20px;
}

.comment {
    padding: 12px 16px;
    resize: none;
}

.checkbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto 30px;
}

.terms {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 8px;
    color: var(--text-color);
}

.terms-checked {
    width: 16px;
    height: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.terms-checked:focus {
    outline-offset: 0;
    background: var(--heading-color);
    border: 1px solid #000000;
}

.terms-link {
    color: var(--bright-color);
    text-decoration: underline;
}

.send-form-btn {
    display: block;
    padding: 10px 52px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.88;
    background-color: var(--bright-color);
    margin: 30px auto 0;
    border: transparent;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery-images:hover a,
.gallery-images:focus a {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-border {
    padding: 20px 24px;
    border: 1px solid var(--img-border);
    border-top: none;
}

.gallery-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--heading-color);
    margin-bottom: 4px;
}

.gallery-item-name {
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--text-color);
}

.section-heading {
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    background-color: var(--main-color);
    border-radius: 4px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    fill: var(--bright-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header-link.current {
    color: var(--bright-color);
    position: relative;
}

.current::after {
    content: '';
    background: var(--bright-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0px;
}