.clients-list {
    display: flex;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
}

.clients {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4%;
}

.clients:not(:last-child) {
    margin-right: 30px;
}

.client {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client,
.client-link:focus .client {
    fill: var(--bright-color);
}

.clients:hover {
    border-color: var(--bright-color);
}