.logo {
    color: var(--bright-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.logo-dark {
    color: var(--logo-color-dark);
}

.logo-light {
    color: var(--main-color);
}