.team-section {
    background-color: var(--bg-color);
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer-section {
    margin-left: 70px;
}
.clients-section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}