.section-heading {
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}